
body {
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    overflow: hidden;
  }
.pulsing-2 {
    width:80px;
    height:80px;
    border-radius: 50%;
    background:#ffffff;
    box-shadow: 0 0 0 0 rgba(255, 118, 118, 0.267);
    animation:pl2 1.5s infinite linear;
    position: relative;
  }
.pulsing-2:before,
.pulsing-2:after {
  content:"";
  position: absolute;
  inset:0;
  border-radius: inherit;
  box-shadow: 0 0 0 0 rgba(255, 68, 68, 0.267);
  animation: inherit;
  animation-delay: -0.5s;
}
.pulsing-2:after {
  animation-delay: -5s;
}
@keyframes pl2 {
    100% {box-shadow: 0 0 0 80px #0000}
}